body {
    font-family: 'Montserrat';
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #646f78;  
    background-color: #E5ECF4;  
}

.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
}

.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}  

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}
  
header nav a:hover {
  color: #708ab0; 
  transition: 0.5s ease-out;
  letter-spacing: 2.5px;
}

.reveal {
    position: relative;
    opacity: 0;
}
  
.reveal.active {
    opacity: 1;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
}
.carousel-inner {
    display: flex;
    justify-content: center;
}
.carousel-item {
    display: flex;
    justify-content: center;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%, 100%;
}

/* Front Page Styles */
.front-page {
    height: 20vh; 
    background-color: #708ab0; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px; 
    box-sizing: border-box; 
}

.front-page-content {
    text-align: center;
    color: #E5ECF4; 
    font-family: 'Prata';
    letter-spacing: 2px;
}

.front-page-content h2 {
    font-size: 20px;
}

.front-page h1 {
    font-size: 72px;
    margin: 0;
    word-break: break-word; 
}

/* Header Styles */
header {
    position: relative; 
    z-index: 1000; 
}

.scroll-target {
    scroll-margin-top: 90px; 
}

.navbar {
    font-family: 'Prata';
    letter-spacing: 2px;
}

.navbar-custom {
    background-color: #646f78; 
}

/* Section Styles */
.section {
    padding: 100px 40px;
    background-color: #E5ECF4; 
}

.section-title {
    font-size: 36px;
    color: #646f78; 
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.section-title::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #b0a375; 
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}

/* About Section Styles */
#about {
    background-color: #E5ECF4; 
    color: #646f78; 
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: justify;
}

/* Portfolio Section Styles */
#portfolio {
    background-color: #708ab0;  
    color: #E5ECF4; 
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio-title {
    color: #E5ECF4; 
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(100, 111, 120, 0.3); 
    margin-left: -10px;
    margin-right: -10px;
    background-color: #E5ECF4; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.card-title {
    font-size: 24px;
    color: #646f78;  
}

.card-text {
    font-size: 16px;
    color: #646f78;  
}

/* Skills Section Styles */
#skills {
    background-color: #E5ECF4;  
    color: #646f78;
    font-family: 'Montserrat';
}

.skill-section {
    padding: 20px;
}

.skill-section ul {
    list-style: none;
    padding-left: 0;
}

.skill-section li {
    font-size: 18px;
    padding: 5px 0;
}

/* Contact Section Styles */
#contact {
    background-color: #708ab0;  
    color: #E5ECF4; 
    font-family: 'Prata';
    padding-bottom: 2%;
    padding-top: 2%;
}

#contact a {
    color: #E5ECF4; 
}

.section-title-light {
    font-size: 30px;
    color: #E5ECF4; 
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.portrait-image {
    width: 200px;  
    height: 200px;  
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto;  
    display: block;  
}

.contact-info {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info i {
    margin-right: 10px;
}

/* Button */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b0a375; 
    color: #E5ECF4;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #646f78;
    color: #E5ECF4; 
}

/* Footer Styles */
footer {
    background-color: #646f78;  
    color: #E5ECF4; 
    font-family: 'Didot';
    padding-top: 30px;
    padding-bottom: 10px;
}

.fa-solid, .fa-brands {
    padding: 15px 15px 15px 0px;
}

a {
    color: #646f78; 
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .front-page h1 {
        font-size: 48px; 
    }

    .section {
        padding: 50px 20px; 
    }

    .section-title {
        font-size: 28px; 
    }

    .section-title::after {
        width: 50px; 
    }

    .card-title {
        font-size: 20px;
    }

    .card-text {
        font-size: 14px;
    }

    .skill-section li {
        font-size: 16px; 
    }

    .section-title-light {
        font-size: 24px; 
    }

    .contact-info p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .front-page h1 {
        font-size: 36px; 
    }

    .section {
        padding: 30px 10px; 
    }

    .section-title {
        font-size: 24px; 
    }

    .section-title::after {
        width: 40px; 
    }

    .card-title {
        font-size: 18px;
    }

    .card-text {
        font-size: 12px; 
    }

    .skill-section li {
        font-size: 14px; 
    }

    .section-title-light {
        font-size: 20px; 
    }

    .contact-info p {
        font-size: 12px;
    }
}
